* {
  /* Reset CSS */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* COLOR PALLETE */
  --blue: #0f172a;
  --blue2: rgba(15, 23, 42, 0.753);
  --neon: #07f5d1;
  /* 5eead4 */
  --grey: #64748b;
  --white: #dfe5ef;
  --light-background: #f5f3ff;
  /* f5f3ff */
}
/* Set fontfamily */
body {
  font-family: "Montserrat", serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: none;
}

/* animation */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
/* For light and dark mode */
.dark {
  color: white !important;
}
.light {
  color: var(--blue2);
}
.center {
  text-align: center;
}
.grey {
  color: var(--grey);
}
.dark:hover,
.light:hover {
  color: var(--neon) !important;
}
.selected {
  color: var(--neon) !important;
}
.dark-bg {
  background-color: var(--blue);
}
.light-bg {
  background-color: var(--light-background) !important;
}
.light-reverse-bg {
  background-color: var(--blue);
}
.dark-reverse-bg {
  background-color: var(--light-background) !important;
}
.neon {
  color: var(--neon) !important;
}

/* button for light and dark mode */
#mode {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
#mode i {
  background-color: transparent;
}
/* End of Light and Dark CSS */
/* for name */

.name-font {
  font-family: "Ephesis", serif;
  font-weight: 500;
  font-style: italic;
}
/* Header CSS */
nav {
  padding: 0 1rem !important;
  display: flex;
  position: fixed !important;
  width: 100%;
  z-index: 997;
  letter-spacing: 2px !important;
}
nav li {
  text-transform: uppercase;
  font-weight: 400;
}

/* Initially hide the header */
.navbar {
  opacity: 0;
  transform: translateY(-100%); /* Start off-screen */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for both */
}

/* When header becomes visible */
.navbar.visible {
  opacity: 1;
  transform: translateY(0);
  /* Move to its original position */
}
#navbarNav {
  justify-content: end;
}
/* Landning page CSS */
#landing-page {
  align-items: center;
  letter-spacing: 2px;
  font-family: "Ysabeau SC", serif !important;
}
#landing-page .container {
  display: flex;
}
/* Image CSS */
#landing-page img {
  border-bottom: 2px #07f5d1 solid;
}
#landing-page .box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* arrow svg css */
.arrow-container {
  display: block;
  justify-content: center;
  text-align: center;
}

.arrows {
  width: 60px;
  height: 80px;
  margin-top: 20px;
  bottom: 20px;
}

.arrows path {
  stroke: var(--neon);
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
  object-fit: cover;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */
}

/* custom cursor */

.outline {
  height: 30px;
  width: 30px;
  border: 2px solid #5eead579;
}

.mouseef {
  height: 10px;
  width: 10px;
}

.mouseef,
.outline {
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999;
}

/* About CSS */
#about,
#certificates {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

#about .container,
#certificates .container {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

h2 {
  font-size: 2rem;
  font-family: "Ysabeau SC", serif !important;
}

p {
  padding-top: 1rem;
  line-height: 1.5rem;
}

span {
  color: var(--neon);
}

#about a {
  color: var(--neon);
  text-decoration: underline;
}
#carouselExampleDark,
#udemy-cert img {
  width: 80% !important;
  height: 70% !important;
}
.carousel-container {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#certificates #cert-title2 {
  margin: 1rem 0;
}
/* Responssiveness for Different Divice*/
/* Mobile devices (Portrait) */
@media only screen and (max-width: 640px) {
  /* Styles for mobile */
  #landing-page {
    width: 100%;
    height: auto;
    display: flex;
  }

  #landing-page img {
    width: 80%;
    height: auto;
  }
  #landing-page .container {
    display: block;
    text-align: center;
  }
  .center {
    margin-bottom: 0;
  }
}

/* Tablets (Portrait and small screens) */
@media only screen and (min-width: 641px) and (max-width: 768px) {
  /* Styles for tablets */
  #landing-page {
    width: 100%;
    height: auto;
    display: flex;
  }

  #landing-page img {
    width: auto;
    height: 60%;
  }
  #landing-page .container {
    display: block;
    text-align: center;
  }
  .center {
    margin-bottom: 1rem;
  }
}

/* Tablets (Landscape) and small laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for tablets (landscape) and small laptops */
  #landing-page {
    width: 100%;
    height: auto;
    display: flex;
  }

  #landing-page img {
    width: 40%;
    height: auto;
  }
  #landing-page .container {
    display: block;
    text-align: center;
  }
  .center {
    margin-bottom: 1rem;
  }
}

/* Laptops and desktop screens */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  /* Styles for small to medium desktops and laptops */
  /* For landing page */
  #landing-page {
    width: 100%;
    height: 100vh;
    display: flex;
  }

  #landing-page img {
    width: 40%;
    height: auto;
  }
  #landing-page .container {
    display: flex;
  }
  .center {
    margin-bottom: 5rem;
  }
}

/* Large screens (Desktops and TV-sized monitors) */
@media only screen and (min-width: 1281px) {
  /* Styles for large desktops */
  /* For landing page */
  #landing-page {
    width: 100%;
    height: 100vh;
    display: flex;
  }

  #landing-page img {
    width: 40%;
    height: auto;
  }
  #landing-page .container {
    display: flex;
  }
  .center {
    margin-bottom: 5rem;
  }
}
